.hero{
    font-family: 'Tangerine', serif;
    font-size: 48px;
    text-shadow: 4px 4px 4px rgb(156, 156, 154);
    color: #ffd700;
    font-style: oblique;
    font-size: 100px;
    text-align: center;
}

main{
    div{
        h2{
            
        }
    }
}