/*---Index pantallas---*/
/*---Index--*/
@media (max-width: 952px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgb(231, 215, 124);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: rgb(34, 47, 221);
    }
    #check:checked ~ ul{
            left:0;
    }
}

@media screen and (max-width: 952px){
    .golden{
        width: 100%;
    }
}

@media screen and (max-width: 780px){
    body{
        width: 80%;
    }
}

@media screen and (max-width: 320px){
    body{
        width: 40%;
    }
}

/*---Trabaja con nosotros pantallas---*/

@media  (min-width: 700px){
    body{
       padding: 0 4rem;
    }
 .contact-wrapper {
       display: grid;
       grid-template-columns: 2fr;
 }
 }
 
 @media  (min-width: 480px){
    body{
       padding: 0 4rem;
    }
 .contact-wrapper {
       display: grid;
       grid-template-columns: 1fr;
 }
 }

 /*---Contacto---*/

 /*---pantallas grande--*/

@media (min-width: 700px) {
    body{
        padding: 0 4rem;
    }

    .contact-wrapper2{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .contact-wrapper2 > * {
        padding: 2em;
    }

    .contact-info2 h4,
    .contact-info2 ul,
    .contact-info2 p {
            padding: 1em;
            text-align: left;
    }
}
/*--pantallas chicas*/
@media (min-width: 480px) {
    body{
        padding: 0 4rem;
    }

    .contact-wrapper2{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .contact-wrapper2 > * {
        padding: 1em;
    }

    .contact-info2 h4,
    .contact-info2 ul,
    .contact-info2 p {
            padding: 1em;
            text-align: left;
    }
}

/*---Acerca de pantallas---*/

@media screen and (max-width: 1050px){
    .hero{
        width: 100%;
    }
}

@media screen and (max-width: 780px){
    .hero{
        width: 80%;
    }
}

@media screen and (max-width: 320px){
    .hero{
        width: 40%;
    }
}

/*---Menu Pantallas---*/

@media (max-width:1024px){
    .column-4{
        grid-template-columns: repeat(3,1fr);
    }
}

@media (max-width:768px){
    .column-4{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width:480px){
    .column-4{
        grid-template-columns: repeat(1,1fr);
    }
}

/*---media queries footer--*/

@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}

